.arcom{
    display: block;
    width: 300px;
    height: 300px;
    margin: 10px;
}
.container{
    width: 100vw;
    background-image:url("/assets/img/roxanne.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 40vw;
    background-position-y: -100vh;
    background-size: 668px;
}

h2{
    margin: 20px 0px 0px 0px;
    font-size:40px; 
}


p{
    margin: 10px 0px 0px 30px;
    font-size: 15px;
    color: antiquewhite;
}