<h2 style="margin-left:50px">Runes and Tarot</h2>

<div class="container mb-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-4 m-0 p-0s" id="f1_container">
            <div id="f1_card">
            <img class="front face" src="/assets/img/tarot/1.png"  >    
            <img class="back face center" src="/assets/img/tarot/11.png">  
            </div>
            </div>
        <div class="col-4 m-0 p-0"> <h2>A halál</h2> <p>A Halál a búcsút jelenti, a nagy elengedést, a véget. Ezzel egyben az új, az eljövendő útját készíti elő; a kártya maga azonban elsősorban a véget tárja elénk. Ezen belül jelentheti a rég áhított, felszabadító befejezést, de természetesen legfájdalmasabb tapasztalatainkra is utalhat. A Kardok Tízessel ellentétben, mely az önkéntes és ezzel idő előtti véget jelképezi, ez a kártya mindig a természetes véget jelöli, és azt, hogy eljött az ideje valamit útjára engedni. A Halál indokolatlanul tartozik a rettegett kártyák közé. Akik rózsaszín szemüveget hordanak, a kártyát csak mint az új hírnökét értelmezik, meg akarnak fosztani bennünket a búcsúzás mély átélésétől és az ehhez kapcsolódó, életigenlő tapasztalatoktól.</p></div>
        <div class="col-4 d-none d-xl-block"><img class="pluspic" src="/assets/img/Hel_pluspic.svg"></div>
    </div>
</div>

<div class="container mt-5 pt-5 mb-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-4 m-0 p-0s" id="f1_container">
            <div id="f1_card">
            <img class="front face" src="/assets/img/tarot/2.png"  >    
            <img class="back face center" src="/assets/img/tarot/11.png">  
            </div>
            </div>
        <div class="col-4 m-0 p-0"><h2>A világ</h2> <p>A Világ kártyája az újra megtalált egységet, a mélységes harmónia élményét és egy fejlődési folyamat örömteli befejezését mutatja. Szavakkal megragadni e kártya szépségét azzal a veszéllyel járna, hogy érzelgős történethez írnánk happy end-et. A hős utazása során a boldog véget, az újra megtalált Paradicsomot jelképezi, ami a hétköznapi életre vetítve egyszerűen annyit jelent, hogy célhoz értünk. Ritkább esetben ez életünk valódi célja, általában azonban fontos közbenső állomás. Külső élményeink szintjén azt mutatja, hogy megtaláltuk helyünket a világban, azt a helyet, ahová igazán tartozunk. Lelki tapasztalataink területén arra utal a világ kártyája, hogy jelentős, sőt talán döntő lépést tettünk az önmagunkká válás, valódi hitelességünk, saját teljességünk felé. </p></div>
        <div class="col-4 d-none d-xl-block"><img class="pluspic" src="/assets/img/hagalaz.svg"></div>
    </div>
</div>

<div class="container mt-5 pt-5 mb-5 pb-5">
        <div class="row justify-content-center">
            <div class="col-4 m-0 p-0s" id="f1_container">
                <div id="f1_card">
                <img class="front face" src="/assets/img/tarot/3.png"  >    
                <img class="back face center" src="/assets/img/tarot/11.png">  
                </div>
                </div>
            <div class="col-4 m-0 p-0"><h2>A remete</h2> <p>A Remete a visszahúzódás és a magunkba fordulás kártyája. Introvertált életszakaszt ábrázol, mely során elhatároljuk magunkat idegen befolyásoktól, hogy a buzgó tevékenységtől és az emberektől távol találjunk rá újra a nyugalmunkra, és mindenekelőtt önmagunkra. Így a Remete jelentős tapasztalatokra utal, melyekben felismerhetjük, kik vagyunk, mit akarunk és miként érhetjük azt el. Két értékes szélsőséget egyesít magában a lap: az élmény mélységét és a felismerés magasrendűségét. Sokan alaptalanul félnek ettől a kártyától. Kizárólag akkor jelenik meg a magányosságtól és elhagyatottságtól való félelem, ha félreértik ezek jellemzőit.</p></div>
            <div class="col-4 d-none d-xl-block"><img class="pluspic" src="/assets/img/hermit.svg"></div>
        </div>
    </div>

    <div class="container mt-5 pt-5 mb-5 pb-5">
            <div class="row justify-content-center">
                <div class="col-4 m-0 p-0s" id="f1_container">
                    <div id="f1_card">
                    <img class="front face" src="/assets/img/tarot/4.png"  >    
                    <img class="back face center" src="/assets/img/tarot/11.png">  
                    </div>
                    </div>
                <div class="col-4 m-0 p-0"><h2>Az igazság</h2> <p>
                        Az Igazságosság kártyája több témakört ölel fel. A világos, objektív felismerést, a tudatos és eltökélt ítéletet, megvesztegethetetlenséget, kiegyensúlyozottságot és becsületességet szimbolizálja, azt jelzi, hogy érvényesíthetjük jogainkat. A hétköznapi élet szintjén azt mondja, hogy környezetünket lényünk visszhangjaként éljük meg, minden jóban-rosszban cselekedeteink következményeivel konfrontálódunk. Ha őszinték és becsületesek vagyunk, tevékenységünket elismerik és megfelelően honorálják; ha viszont kétes eszközökkel fondorlattal akarunk előnyre szert tenni, kudarcot vallunk. Ezzel nagy felelősségtudatot is kifejez a kártya.</p></div>
                <div class="col-4 d-none d-xl-block"><img class="pluspic" src="/assets/img/tyr.svg"></div>
            </div>
        </div>

        <div class="container mt-5 pt-5 mb-5 pb-5">
                <div class="row justify-content-center">
                    <div class="col-4 m-0 p-0s" id="f1_container">
                        <div id="f1_card">
                        <img class="front face" src="/assets/img/tarot/5.png"  >    
                        <img class="back face center" src="/assets/img/tarot/11.png">  
                        </div>
                        </div>
                    <div class="col-4 m-0 p-0"><h2>A mágus</h2> <p>
                            A Mágus eszességet, ügyességet, öntudatot és aktív életformát jelképez. Olyan periódust jelez, melyben nehéz problémákat is le tudunk küzdeni, fokozott tudatossággal és éber életbölcsességgel sikerrel szállunk szembe a kihívásokkal. Ez a kártya ugyan tudatunk erejét ábrázolja, de ezáltal nem azt fejezi ki, hogy az érzelmek és más tudatalatti erők elhanyagolhatóak lennének. Ellenkezőleg: a Mágus által jelképezett rendkívüli befolyásoló erő és hatékonyság a tudatosság és tudatalatti közötti mély harmónián alapul. Csak az ebből keletkező benső biztonság képes hegyeket mozgatni. Az élethelyzetre vonatkozóan az első emberi tett a semmiből születik, tapasztalatok és tanulás nélkül: ez az első ösztönös alkotás. Célok és érdekek nélküli spontán teremtés, melyben az ember kipróbálja az erejét és megtapasztalja képességeit.</p></div>
                    <div class="col-4 d-none d-xl-block"><img class="pluspic" src="/assets/img/mannaz.svg"></div>
                </div>
            </div>


   
   
